<!-- Generic Meta Tags -->
<meta name="description" content="{{ site.social.description }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.social.description }}">
<meta property="og:image" content="{{ site.url }}/share.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ site.social.domain }}">
<meta property="twitter:url" content="{{ site.url }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.social.description }}">
<meta name="twitter:image" content="{{ site.url }}/share.png">