<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/favicon.png" />
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ site.baseurl }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.baseurl }}/share.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ site.domain }}">
<meta property="twitter:url" content="{{ site.baseurl }}">
<meta name="twitter:title" content="{{ site.title }}>
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.baseurl }}/share.png">